body {
    background-color: crimson;
    font-family: "Montserrat", sans-serif
}

/* background colors */
.bg_white {
    background-color: white;
}

.bg_gray {
    background-color: gray;
}

/* text colors */
.txt_red {
    color: crimson;
}

/* border colors */
.border_red {
    border-color: crimson;
}